.spot-details-reserve-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
}

.reserve-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px solid black;
    border-radius: 20px;
    margin: 15px;
    min-height: 150px;
    padding: 8px;
}

.spot-view-info {
    width: 60%
}

.per-night-button-text {
    display: flex;
    align-items: center;
}

.rating-info{
    display: flex;
    justify-content: center;     /* Center horizontally */
    align-items: center;
}

.per-night-button-text P,
.rating-info p {
    font-size: 20px;
    font-weight: bold;
}

.review-price-button-text {
    display: flex;
    height: 50%;
    width: 100%;
    justify-content: space-around;
}

/* .review-price-button-text p {
    padding-top: 22px;
} */

.reserve-button-container {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reserve-button {
    width: 80%;
    height: 75%;
}

