.spot-details-reserve-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid black;
}

.reserve-button-container {
    width: 33%;
    border: 1px solid black;
}

.review-price-button-text {
    display: flex;
}