/* TODO: Add sitewide styles */
h1,
h2,
h3,
h4,
h5,
span,
h6,
button,
li,
input,
p {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: rgb(94, 0, 94);
    color: white;
    border-radius: 20px;
    border-color: grey;
    font-size: large;
    margin: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

body {
    padding: 0px 75px;
}
