/* TODO: Add sitewide styles */
h1,
h2,
h3,
h4,
h5,
h6,
button,
li,
input,
p {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

button {
    background-color: rgb(94, 0, 94);
    color: white;
    border-radius: 10px;
    border-color: grey;
    font-size: large;
    margin: 3px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

body {
    padding: 0px 25px;
}

#modal-content {
    padding: 10px;
    max-width: 400px;
}

button:disabled {
    background-color: grey;
    color: white;
}

.error {
    font-weight: bold;
    color: red;
}

.review-dot {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 900;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: none;
}



