.spot-item-image {
    height: 250px;
    width: 250px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px;
}

.spot-item {
    border: 1px solid black;
}

.spot-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}