.spot-item-image {
    height: 333px;
    width: 315px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border-radius: 15px;
}

.location-review-container {
    display: flex;
    justify-content: space-between;
    
}

.spot-item {
    height: 350px;
    width: 325px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px
}

.spot-info {
    width: 300px;
}