.spot-item-image {
    height: 333px;
    width: 315px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 5px;
    border-radius: 5px;
}

.manage-spot-buttons-container {
    width: 100%;
    padding-left: 40px;
}

.location-review-container {
    display: flex;
    justify-content: space-between;
    
}

.spot-item {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-bottom: 0px;
    position: relative;
    align-self: center;
}

.spot-info {
    width: 300px;
}

.tooltip {
    visibility: hidden; 
    background-color: rgb(44, 44, 44); 
    color: white; 
    text-align: center; 
    border-radius: 5px; 
    padding: 5px; 
    position: absolute;
    z-index: 1;
    bottom: 80%;
    left: 50%; 
    transform: translateX(-50%);
    opacity: 0; 
    transition: opacity 0.3s;
    border: 1px solid white;
}

.spot-item:hover .tooltip {
    visibility: visible; 
    opacity: 0.8; 
}
