/* navigation styles here */

.profile-dropdown-hidden li{
    display: none;
}
.profile-dropdown {
    background-color: white;
    border: 2px solid black;
    z-index: 9999;
    position: absolute;
    margin-top: 300px;
    right: 0%;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(175, 175, 175);
    height: 80px;
    width: 100%;
}

.user-dropdown-container {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-menu {
    position: absolute;
    right: 0;
    margin-right: 75px;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border-color: grey;
    background-color: white;
}

.create-spot-button {
    position: absolute;
    right: 0;
    margin-right: 200px;
}

.air-bnb-home-icon {
    font-size: 70px;
}

.user-icon {
    font-size: 40px;
    margin-top: 5px;
    color: rgb(94, 0, 94);
}

.air-bnb-home {
    color: rgb(94, 0, 94);
    display: flex;
}

.air-bnb-home h2 {
    color: rgb(94, 0, 94);
    text-decoration: none;
    font-size: 30px;
    margin-top: 20px
}